

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(218, 218, 155);
    padding: 5px;
}




/* imageMap   */
.imageMeteo{
    display: flex;
    justify-content: center;
}

.map{
    width: 380px;
}

.banniere {
    display: flex;
    flex-direction: row;
}




/* erreur404 image */
.image404{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px ;
    height: auto;
    width: 35%;
    max-width: 400px;
    min-width: 250px;
}


.footer{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}


/* message all site  */
/* .message {
    display: flex;
    justify-content: center;
} */


/* index page  */
.page{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: start;
}

.inputHome{
    display: flex;
    justify-content: end;
}




