<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Accueil</title>

    <!-- fontawesome -->
</head>



<body>
    <div class="container-fluid">


        <!-- Navbar_Site_construction -->
        
            <div class="message-1 row">
                <div class="d-flex justify-content-center">
                    <span>Site is currently under construction.. </span>
                </div>
            </div>
        
        <!-- /Navbar_Home -->
        

    <!-- xs<576 sm>=576 md>=768 lg>=992 xl>=1200 xxl>=1400  -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">icone</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Voyager</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Boutique</a>
              </li>
            </ul>

            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

          </div>
        </div>
    </nav>
    </div>


        <!-- map weather   -->
    <main class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center">
                <span id="titleMeteo">METEO</span>
            </div>
        </div>
        <div class="row mapMeteo">
            <div class="d-flex justify-content-center">
                <img id="mapmeteo1" src="images/map.png" alt="map weather" srcset="">    
            </div>
        </div>


        <div class="row">
            <div class="d-flex justify-content-center">
                <!--   INPUT  Enter city name en MODE "POST" -->
                <form action="/add-city" method="POST">
                    <div class="input-group mb-3">
                        <input name="newcity" type="text" class="form-control" placeholder="Enter city name"  aria-label="New city name">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit" id="button-addon2">Add</button>
                        </div>

                        <!-- btn update  -->
                        <div class="d-flex justify-content-center">
                            <a class="update-cities" href="/update-cities">Update <i class="fas fa-sync-alt"></i></a>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </main>
    <!-- col-12 col-lg-6 col-lg-6  -->

    






    
    <!-- <div class="row">
        <div class="footer col-lg-12 align-items-center">
            <footer class="sticky-footer">                  
                <span>Copyright ©Phil013</span>                                     
            </footer>
        </div>
    </div> -->
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>




</html>

<!-- <div class="col-lg-12 align-items-center">
    <div class="website">
        <img class="img-fluid-meteo" src="./images/PikPng.com_iatse-png_5351241.png" alt="logo construction">
    </div>
</div> -->